*{
    margin: 0;
    padding: 0;
}
/* 
#4A55A2
#7895CB
#A0BFE0
#C5DFF8
 */

body{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #7895CB;
    color: #C5DFF8;

}
.con{
    background-color: #7895CB;
    padding: 3rem 0 0 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-self: center;
}
.para{
    background-color: #4A55A2;
    padding: 3rem;
    margin: 0 auto;
    border-radius: 20px;
    width: 50%;
    height: 70%;
    line-height: 25px;

    color: #C5DFF8;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.cont{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #5561ba;
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 1.2rem;
}
.rules{
    font-size: 13px;
    line-height: 18px;
}
.res-con{
    color: #FFFF99;
}
.head h3{
    color: rgb(240, 79, 144);
    align-self: flex-start;
}
.center{
    display: block;
    text-align: center;
    margin-top: 1rem;
}
.guess{
    color: #FFFF99;
    font-weight: 700;
    font-size: 23px;
}

@media (max-width: 795px){
    .guess{
        font-size: 1.5rem;
    }
    .mat{
        font-size: 0.8rem
    }
}
@media (max-width: 660px){
    .guess{
        margin-top: 0;
        font-size: 1.5rem;
        
    }
    .mat{
        font-size: 0.8rem;
        line-height: 19px;
    }
}
@media (max-width: 555px){
    .para{
        width: 60%;
    }
    .guess{
        margin-top: 0;
        font-size: 1.3rem;
        
    }
    .mat{
        font-size: 0.85rem;
        line-height: 20px;
    }
}
@media (max-width: 420px){
    .para{
        width: 70%;
        padding: 2rem;
    }
    .guess{
        margin-top: 0;
        font-size: 1.2rem;
        
    }
    .mat{
        font-size: 0.85rem;
        line-height: 17px;
    }
    .head>h3{
        font-size: 1rem;
    }
}

@media (max-width: 390px){
    .guess{
        margin-top: 0;
        font-size: 1.4rem;
        
    }
    .mat{
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 25px;
    }
    .head>h3{
        font-size: 1.3rem;
    }
}




